# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml # If we add one later for local dev

# Python specific
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.egg-info/
dist/
build/
*.egg

# Django specific
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/ # Explicitly ignore for this minimal setup
# media/

# Cloud build/deployment files
cloudbuild.prod.yaml
entrypoint.sh # This is copied explicitly in Dockerfile, but can be ignored from general COPY . .
*.sh # General shell scripts if any others are added and not needed in context

# Documentation
README.md
docs/

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db

# IDE specific
.vscode/
.idea/

# Environment files
.env
*.env
