.git
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.env*
.vscode/
tests/
node_modules/
frontend/
*.sqlite3
media/
secrets/
*.db
docker-compose*
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env
.env*
.dockerignore
Dockerfile
.git
.gitignore
.vscode
*.log
*.pem

