dump.rdb
.venv/
.DS_Store
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
credentials.json
google_credentials.json
.package-lock.json
.vscode/
.env
celerybeat-schedule
test.html
deployment.sh
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/server.iml
/.idea/vcs.xml
xblock/__pycache__/__init__.cpython-310.pyc
xblock/__pycache__/celery.cpython-310.pyc
xblock/__pycache__/settings.cpython-310.pyc
.idea/material_theme_project_new.xml
static/*

__pycache__/

downloads/


.cache/


Tock-*.html


db.sqlite


*.pem


selenium/*

!selenium/.gitkeep

firebase_credentials.json

# DO NOT COMMIT THESE
integrations_credential.json
xbrain_credential.json
*.key
*.pem
*.env

# Django specific
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
