{% extends "admin/base_site.html" %} {% block content %}
<h2>Upload a file</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div style="display: flex; flex-direction: column">
    <input type="file" name="file" />
    <!-- render tocks dropdown -->
    <select name="tock"
    style="margin-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    "
    >
      {% for tock in tocks %}
      <option value="{{ tock.pk }}">{{ tock.unit__brand__name }}</option>
      {% endfor %}
    </select>
    <button
      type="submit"
      style="
        width: 80px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: aquamarine;
        border: 0px;
        padding: 6px;
        cursor: pointer;
        font-size: 16px;

      "
    >
      Upload
    </button>
  </div>
</form>
{% endblock %}
