{% extends "admin/base_site.html" %} {% block content %}
<h2>Upload files</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div style="display: flex; flex-direction: column">
    <input type="file" name="file" multiple />
    <!-- render resy dropdown -->
    <select
      name="tock"
      style="margin-top: 6px; padding-left: 5px; padding-right: 5px"
    >
      {% for item in resy %}
      <option value="{{ item.pk }}">{{ item.unit__brand__name }}</option>
      {% endfor %}
    </select>
    <button
      type="submit"
      style="
        width: 80px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: aquamarine;
        border: 0px;
        padding: 6px;
        cursor: pointer;
        font-size: 16px;
      "
    >
      Upload
    </button>
  </div>
</form>
{% endblock %}
